{% extends 'base.html.twig' %}

{% block body %}
    <h1>Genero list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for genero in generos %}
            <tr>
                <td><a href="{{ path('genero_show', { 'id': genero.id }) }}">{{ genero.id }}</a></td>
                <td>{{ genero.nome }}</td>
                <td>{{ genero.status }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('genero_show', { 'id': genero.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
