{% extends 'base.html.twig' %}

{% block body %}
    <h1>Jogos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomedojogo</th>
                <th>Duracao</th>
                <th>Idgenero</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Deletedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jogo in jogos %}
            <tr>
                <td><a href="{{ path('lojadegames_jogos_show', { 'id': jogo.id }) }}">{{ jogo.id }}</a></td>
                <td>{{ jogo.nomeDoJogo }}</td>
                <td>{{ jogo.duracao }}</td>
                <td>{{ jogo.idGenero }}</td>
                <td>{% if jogo.createdAt %}{{ jogo.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if jogo.updatedAt %}{{ jogo.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if jogo.deletedAt %}{{ jogo.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lojadegames_jogos_show', { 'id': jogo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('lojadegames_jogos_edit', { 'id': jogo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lojadegames_jogos_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
